.contentAll{
    margin: auto;
    max-width: 2000px;
    position: relative;
    overflow: hidden;
}

.contentPagesMain{
    background-image: url('../../assets/img/imgmain2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 880px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 250px;
    /* border: 1px solid red; */
    padding: 0 25px;
}

/* .sectionOne,.sectionTwo{   
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 200px;
    margin: auto;
} */

.sectionTwo{
    width: 500px;
}

.contentText{
    color: var(--var-color-one);
    font-family: var(--var-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}

.title{
    font-size: 3.5rem;
    width: 450px;
}

.subtitle{
    font-family: var(--var-secundary);
    font-size: 1rem;
    font-weight: 300;
    width: 300px;
    line-height: 25px;
}

.imageCelu{
    width: 100%;
}

.contentButton{
    display: flex;
    justify-content: space-between;
    width: 380px;
    padding-top: 15px;
}

@media (max-width: 1150px) {
    .contentPagesMain{
        flex-direction: column;
        height: fit-content;
        padding-top: 200px;
        gap: 100px 0;
    }
    .contentText{
        align-items: center;
    }
    .title{
        text-align: center;
    }
    .subtitle{
        text-align: center;
    }
    .sectionTwo{
        width: 400px;
    }
}

@media (max-width:500px) {
    .title{
        font-size: 2.5rem;
        width: 320px;
        padding: 0 5px;
    }
    .subtitle{
        padding: 0 5px;
    }
    .sectionTwo{
        width: 320px;
    }
    .contentButton{
        flex-direction: column;
        gap: 20px 0;
        align-items: center;
    }
}