.contentPagesMainFive{
    background-color: transparent;
    width: 100%;
    height: fit-content;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px 0 ;
    background-color: var(--var-color-six);
    padding-top: 330px;
}

.title{
    font-family: var(--var-primary);
    color: var(--var-color-three);
    font-size: 2.5rem;
    font-weight: 700;
    width: 400px;
}

.p{
    width: 400px;
    color: var(--var-color-four);
    font-family: var(--var-primary);
    font-weight: 500;
    line-height: 30px;
}

.cardsInfo{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: 180px 180px;
    gap: 20px;
    padding-bottom: 40px;
}

.title{
    text-align: center;
}

.p{
    text-align: center;
}


@media (max-width:1300px) {
    .contentPagesMainFive{
       
        padding-top: 350px;
    }
    .cardsInfo{
        grid-template-columns: repeat(2,400px);
    }
}

@media (max-width:900px){
    .cardsInfo{
        grid-template-columns: repeat(1,400px);
        
    }
}

@media (max-width:500px) {
    .title{
        font-size: 2.5rem;
        width: 320px;
        margin: 0 auto;
        padding: 0 10px;
    }
    .p{
        width: 320px;
        padding: 0 10px;
    }
    .cardsInfo{
        width: 90%;
    }
}