.contentInfo{
    background-color: var(--var-color-one);
    /* border: 1px solid red; */
    padding: 40px 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    row-gap: 8px;
    border-radius: 10px;
    /* box-shadow: 5px 2px 15px 1px var(--var-color-three); */
}

.image{
    width: 54px;
}

.title{
    font-family: var(--var-primary);
    font-size: 1.5rem;
    color: var(--var-color-three);
}

.subtitle{
    font-family: var(--var-secundary);
    color: var(--var-color-four);
    letter-spacing: 0.5px;
    font-weight: 500;
}