.contentInfo{
    background-color: var(--var-color-one);
    /* border: 1px solid red; */
    padding: 40px 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    row-gap: 8px;
    border-radius: 10px;
    border: 1px solid rgb(240, 240, 240);
    
}

.image{
    width: 54px;
}

.title{
    font-family: var(--var-primary);
    font-size: 1.5rem;
    color: var(--var-color-three);
}

.subtitle{
    font-family: var(--var-secundary);
    color: var(--var-color-four);
    letter-spacing: 0.4px;
    font-weight: 500;
}