.contentContact{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--var-color-one);
    box-shadow: 1px 1px 30px 1px var(--var-color-three);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    height: 600px;
    gap: 20px;
    padding: 20px 50px;
}


.contentText{
    width: 100%;
}

.contentTextFormulary{
    
}

@media (max-width:900px) {
    .contentContact{
        flex-direction: column;
        height: fit-content;
    }
}

@media (max-width:540px) {
    .contentContact{
        width: 330px;
        
    }
    .contentText{
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contentTextFormulary{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .p{
        text-align: center;
    }
}

.contentTextFormulary{
    display: flex;
    flex-direction: column;
    gap: 50px 0;
    /* width: 50%; */
    width: 420px;
}

.title{
    font-family: var(--var-primary);
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--var-color-three);
    padding-bottom: 20px;
}

.p{
    font-family: var(--var-secundary);
    font-weight: 500;
    color: var(--var-color-four);
    line-height: 30px;
}

.contentMap{
    width: 300px;
}

.imageMap{
    width: 100%;
}