.button{
    padding: 15px 35px;
    font-family: var(--var-primary);
    font-weight: 500;
    letter-spacing: 1.5px;
    border: 0;
    background-color: var(--var-color-two);
    color: var(--var-color-one);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 2px 4px 25px var(--var-color-three);
    width: 150px;
}

.button:hover{
    transition: 0.5s;
    box-shadow: 2px 4px 25px var(--var-color-two);
}