.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: transparent;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.contentAll{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 1250px;
    padding: 0 25px;
}

.contentLogo{
    width: 20%;
}

.contentTwo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 50px;
    width: 80%;
}

.logo{
    width: 200px;
}

.contentUl{
    width: 400px;
}
.contentLi{
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
}

.li{
    font-family: var(--var-primary);
    letter-spacing: 1.5px;
    font-weight: 500;
    color:var(--var-color-one)
}

.menu{
    width: 45px;
    cursor: pointer;
    display: none;
}

@media (max-width:850px) {
    .contentTwo{
        justify-content:space-between;
        width: 52%;
    }
    .contentUl{
        display: none;
    }
    .menu{
        display: block;
    }
}

