.contentFooter{
    background-image: url('../../assets//img/fondoFooter.png');
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    max-width: 2000px;
    margin: 0 auto;
    position: relative;
}

.contentSocial{
    display: flex;
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
}

.contentIcons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    border: 1px solid red;
    border-radius: 100%;
    padding: 20px ;
}

.icon{
    width: 100%;
}