.contentFooter{
    background-image: url('../../assets//img/fondoFooter.png');
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    max-width: 2000px;
    margin: 0 auto;
    position: relative;
}

.contentSocial{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
}

.contentIcons{
    width: 64px;
    border-radius: 100%;
    cursor: pointer;
}

.icon{
    width: 100%;
}

.contentCopy{
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
}

.text{
    font-family: var(--var-primary);
    color: var(--var-color-one);
    text-align: center;
}

.autor{
    color: var(--var-color-one);
    text-decoration: none;
    text-transform: uppercase;
}


@media (max-width:905px) {
    .contentCopy{
        bottom: 70px;
    }
    .contentSocial{
    }
    .contentFooter{
        height: 1100px;
    }
}

@media (max-width:700px){
    .contentFooter{
        height: 1100px;
    }
}