
.contentPagesMainTwo{
    background-image: url('../../assets/img/seccion2.png');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 880px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 300px;
    padding: 0 25px;
}

.contentCuadro{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    row-gap: 30px;
    column-gap: 35px;
}

.sectionTwo{
    flex-direction: column;
    justify-content: center;
}

.contentText{
    max-width: 450px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.titleTwo{
    font-family: var(--var-primary);
    color: var(--var-color-three);
    font-size: 2.5rem;
    font-weight: 700;
}

.subtitleTwo{
    color: var(--var-color-four);
    font-family: var(--var-primary);
    font-weight: 500;
    line-height: 30px;
}

@media (max-width: 1150px){
    .contentPagesMainTwo{
        flex-direction: column;
        gap: 100px 0;
        padding-top: 100px;
        height: fit-content;
    }
    .titleTwo,.subtitleTwo{
        text-align: center;
    }
}


@media (max-width:500px) {
    .titleTwo{
        font-size: 2.5rem;
        width: 320px;
        margin: 0 auto;
        padding: 0 10px;
    }
    .subtitleTwo{
        width: 320px;
        margin: 0 auto;
        padding: 0 10px;
    }
    /* .contentCuadro{
        grid-template-columns: 180px 180px;
        grid-template-rows: 180px 180px;
        gap: 20px;
    } */
    .contentCuadro{
        grid-template-columns: 200px;
        grid-template-rows: auto;
    }
    .contentPagesMainTwo{
        background-position: -500px;
    }
}