.sectionOne,.sectionTwo{   
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 200px;
    /* border: 1px solid red; */
}

.contentPagesMainTwo{
    background-image: url('../../assets/img/seccion2.png');
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
}

.contentCuadro{
    /* border: 1px solid blue; */
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    row-gap: 30px;
    column-gap: 35px;
}

.sectionTwo{
    flex-direction: column;
    justify-content: center;
}